body {
    background-color:blue;
}
.game-Title {
display:flex;
justify-content:center;
margin-top: 50px;
color:red;
}

.game-Box {
    display:flex;
    flex-direction: column;
}
#result {
    display:flex;
    justify-content:center;
    margin-top: 100px;
    background-color:black;
    color:red;
    height: 300px;
    align-items:center;
    font-size:24px;
}
.showOptions {
    font-weight:bolder;
}